/* Barra de progresso */
#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #1976D2;
    z-index: 9999;
}

/* Site */
.card {
    margin-bottom: 20px;
}

.btn-edit {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 30%;
}

.form-container {
    padding: 20px;
}

.form-check {
    padding: 10px 30px;
}

.form-check-label {
    padding-left: 10px;
    font-size: 18px;
}

.form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.output-container {
    padding: 20px;
}

.download-button {
    margin-top: 20px;
}

.botao-editar {
    width: 100%;
}

/* Classes de Alerta: */
.valor-acima {
  border-color: red;
  border-style: dashed;
  border-width: 4px;
  border-radius: 10px;

  animation: animacaoBorderVermelho 2s infinite;
}
@keyframes animacaoBorderVermelho {
    0% {
      border-color: #ff0000;
    }
    50% {
      border-color: #440202;
    }
    100% {
      border-color: #ff0000;
    }
  }


.valor-abaixo {
    border-color: green;
  border-style: dashed;
  border-width: 5px;
  border-radius: 10px;

  animation: animacaoBorderVerde 2s infinite;
}
@keyframes animacaoBorderVerde {
    0% {
      border-color: #06e824;
    }
    50% {
      border-color: #025e0f;
    }
    100% {
      border-color: #06e824;
    }
  }