<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Mostrar Dados da API</title>
<!-- <script src="../static/script.js"></script> -->
</head>
<body>
<h1>Dólar Americano/Real Brasileiro</h1>
<div id="data"></div>
<script src="../static/script.js"></script>
<p>This is a new paragraph added with BeautifulSoup.</p>
<img src="temp\temp.png"/><p>This is a new paragraph added with BeautifulSoup.</p><img src="temp/temp.png"/></body>
</html>