<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Atual em HTML</title>
    <!-- Importar Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<body>
    <p>A data atual é: <span id="dataAtual"></span></p>

    <script>
        // Usar Moment.js para inserir a data atual
        document.getElementById('dataAtual').innerText = moment().format('L');
    </script>
    
</body>
</html>
